<% if (typeof message !== 'undefined' && message) { %>
    <div class="error-message" style="color: black; font-size: 14px;">
        <ul>
            <li><%= message %></li>
        </ul>
    </div>
<% } %>