<div class="sidebar">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>

    <ul>
        <% if (user && user.role === "admin") { %>
            <li><a href="/admin">Admin</a></li>
        <% } %>
    </ul>

    <ul>
        <% if (user && user.role === "professor") { %>
            <li><a href="/">Professor Dashboard</a></li>
        <% } %>
    </ul>
    
    <ul>
        <% if (user) { %>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/forums">Forums</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</div>




