<!DOCTYPE html>
<html>
    <head>
        <title>Learning Management System Project</title>
        <%- include('partials/head') %>
        <link rel ='stylesheet' href='css/styles.css'>
        </head>
    <body>
        
        <header>
            <h1>Blackboard Clone</h1>
        </header>
        
        <div class="content">
            <%- include('partials/sidebar') %>
            <section>
                <h2>Objective</h2>
                <p>My goal is to build dynamic, user-friendly web applications using Node JS. I will also learn how to set up a database and implement REST API for backend development. </p>
            </section>
            <section>
                <h2>Notes for organizing</h2>
                <p>Implement scripts for testing</p>
                <p>Implement ORM for all the tables</p>
            </section>
            <section>
                <h2>Notes for professor dashboard</h2>
                <p>Create dashboard for professors</p>
                <p>Add assignments</p>
            </section>
            <section>
                <h2>Notes for admin dashboard</h2>
                <p>Create dashboard for admins</p>
                <p>Allow admins to edit users</p>
            </section>
        </div>
    </body>
</html>

