<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { 
        title: 'Login',
        extraCSS: '/css/auth.css'
    }) %>
    <body>
        <div class="container">
            <h2>Welcome</h2>
            <% if (typeof message !== 'undefined' && message) { %>
                <%- include('partials/authError', { 
                    message: message
                }) %>
            <% } %>
            
            <form method="POST" action="/login">
                <input type="text" name="username" required placeholder="Enter username">
                <input type="password" name="password" required placeholder="Enter password">
                <button type="submit" class="btn">Login</button>
            </form>
            <div class="footer">
                <p>Don't have an account? <a href="/register">Sign up</a></p>
            </div>
        </div>
    </body>
    </html>