<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { 
        title: 'Login',
        extraCSS: '/css/login.css'
    }) %>
    <body>
        <div class="login-container">
            <h2>Welcome</h2>
            <form method="POST" action="/login">
                <input type="text" id="username" name="username" required placeholder="Enter username">
                <input type="password" id="password" name="password" required placeholder="Enter password">
                <button type="submit" class="btn">Login</button>
            </form>
            <div class="footer">
                <p>Don't have an account? <a href="/register">Sign up</a></p>
            </div>
        </div>
    </body>
    </html>