<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login-register.css">
    </head>
    <body>
        <div class="sidebar">
            <%- include('partials/sidebar_base') %>
        </div>
        <div class="container">
            <h2>Login</h2>
            <form method="POST" action="/login">
                <input type="text" name="username" required placeholder="Enter username">
                <input type="password" name="password" required placeholder="Enter password">
                <button type="submit" class="btn">Login</button>
            </form>
            <div class="footer">
                <%- include('partials/errors', { message: message }) %>
                <p>Don't have an account? <a href="/register">Sign up</a></p>
            </div>
        </div>
    </body>
    </html>