<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login-register.css">
    </head>
    <body>
    <%- include('partials/sidebar') %>    
    <div class="container">
        <h2>Profile</h2>
        <%- include('partials/errors', { message: message }) %>
        <form method="POST" action="/profile/update">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" required placeholder="Enter new username">
            </div>
            
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" name="password"  placeholder="Enter new password (leave blank to keep current)">
            </div>
            
            <div class="form-group">
                <label for="confirm_password">Confirm New Password</label>
                <input type="password" name="confirm_password" placeholder="Confirm new password">
            </div>
            
            <button type="submit" class="btn">Update Profile</button>
        </form>
        <div class="footer">
            <p>Want to change your password? <a href="/change-password">Change Password</a></p>
        </div>
    </div>
</body>
</html>