<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login-register.css">
    </head>
    <body>
    <%- include('partials/sidebar') %>    
    <div class="container">
        <h2>Profile</h2>
        <form method="POST" action="/profile/update">
            <input type="text" name="first_name" placeholder="Enter First Name">
            <input type="text" name="last_name" placeholder="Enter Last Name">
            <input type="password" name="old_password" placeholder="Enter Old Password">
            <input type="password" name="new_password" placeholder="Enter New Password">
            <input type="password" name="confirm_password" placeholder="Confirm New Password">            
            <button type="submit" class="btn">Update Profile</button>
        </form>
        <div class="footer">
            <%- include('partials/errors', { message: message }) %>
        </div>
    </div>
</body>
</html>