<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login-register.css">
    </head>
    <body>
        <div class="sidebar">
            <%- include('partials/sidebar_base') %>
        </div>
        <div class="container">
            <h2>Create an Account</h2>
            <form method="POST" action="/register">
                <input type="text" name="username" placeholder="Create Username" required>
                <input type="password" name="password" placeholder="Create Password" required>
                <input type="password" name="password2" placeholder="Confirm Password" required>
                <button type="submit" class="btn">Sign Up</button>
            </form>
            <div class="footer">
                <%- include('partials/errors', { message: message }) %>
                <p>Already have an account? <a href="/login">Log in</a></p>
            </div>
        </div>
    </body>
    </html>