<!DOCTYPE html>
<html lang="en">
    <%-  include('partials/head', { 
        title: 'Register',
        extraCSS: '/css/auth.css'
    }) %>
    <body>
        <div class="container">
            <h2>Create an Account</h2>
            <% if (typeof message !== 'undefined' && message) { %>
                <%- include('partials/authError', { 
                    message: message
                }) %>
            <% } %>
            
            <form method="POST" action="/register">
                <input type="text" name="username" placeholder="Create Username" required>
                <input type="password" name="password" placeholder="Create Password" required>
                <input type="password" name="password2" placeholder="Confirm Password" required>
                <button type="submit" class="btn">Sign Up</button>
            </form>
            <div class="footer">
                <p>Already have an account? <a href="/login">Log in</a></p>
            </div>
        </div>
    </body>
    </html>